[core]
    editor = vim
    pager = 
    # Unicode
    precomposeunicode = true
    quotepath = true
[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[diff]
    patience = true
    tool = vimdiff
[help]
    autocorrect = 0
[alias]
    co = checkout
    ce = commit -v --amend
    st = status --branch --short
    si = status --ignored --short
    branches = branch -a
    remotes = remote -v
    tags = tag -l
    lg = log --graph --all --decorate --abbrev-commit --branches --date=short --pretty=format:\"%C(red)%h%C(reset) %C(green)[%ad]%C(reset) %s %C(cyan)@%an%C(reset) %C(yellow)%d%C(reset)\"
    fp = fetch --prune
    dh = diff --histogram
    dw = diff --word-diff
    dc = diff --cached
    wc = whatchanged
[user]
    name = kato_ryota
    email = kato.ryota.0124@gmail.com
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
